@font-face {
  font-family: 'weathericons';
  src: url('./fonts/weathericons-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.wi {
  display: inline-block;
  font-family: 'weathericons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wi-day-sunny:before { content: "\f00d"; }
.wi-day-cloudy:before { content: "\f002"; }
.wi-cloudy:before { content: "\f013"; }
.wi-cloudy-windy:before { content: "\f011"; }
.wi-showers:before { content: "\f01a"; }
.wi-rain:before { content: "\f019"; }
.wi-thunderstorm:before { content: "\f01e"; }
.wi-snow:before { content: "\f01b"; }
.wi-fog:before { content: "\f014"; }
.wi-night-clear:before { content: "\f02e"; }
.wi-night-cloudy:before { content: "\f086"; }
.wi-night-showers:before { content: "\f029"; }
.wi-night-rain:before { content: "\f028"; }
.wi-night-thunderstorm:before { content: "\f02c"; }
.wi-night-snow:before { content: "\f02a"; }
.wi-night-alt-cloudy-windy:before { content: "\f023"; }
.wi-strong-wind:before { content: "\f050"; }
.wi-humidity:before { content: "\f07a"; }
.wi-barometer:before { content: "\f079"; }
.wi-sunset:before { content: "\f052"; }
.wi-sunrise:before { content: "\f051"; }

.MMM-Currentweather-MQTT .weathericon,
.MMM-Currentweather-MQTT .fa-home {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.MMM-Currentweather-MQTT .humidityIcon {
  padding-right: 4px;
}

.MMM-Currentweather-MQTT .humidity-padding {
  padding-bottom: 6px;
}
.MMM-Currentweather-MQTT .red {
  color: red;
}
.MMM-Currentweather-MQTT .green {
  color: green;
}
.MMM-Currentweather-MQTT .blue {
  color: blue;
}
.MMM-Currentweather-MQTT .yellow {
  color: yellow;
}
.MMM-Currentweather-MQTT .white {
  color: white;
}
